
#board {
  width: 360px;
  margin: 40px auto  0px auto ;

}

.row {
  clear: both;
  overflow: hidden;
}

.square {
  float: left;
  width: 119px;
  height: 84px;
  cursor: pointer;
  text-align: center;
  font-size: 50px;
  padding-top: 35px;

}
.bottom {
  border-bottom: 1px solid black;
}

.right {
  border-right:  1px solid black;
}
